body {
    background: linear-gradient(135deg, #0e0103, #020617);
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background: #16171e;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 0 15px rgba(8, 8, 12, 0.3);
}

input {
    width: 95%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 6px;
    border: none;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #4f46e5;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1e293b;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.delete-btn {
    background-color: #ef4444;
    margin-top: 5px;
}

.delete-btn:hover {
    background-color: #dc2626;
}
